* {
  margin: 0;
  padding: 0;  
}

body {
    margin-top: 8px;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: blueviolet; */
}

#header {
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    display: flex;
}

#content {
    margin-top: 10px;
    width: 100%;
    height: 1000px;
    background-color:antiquewhite;
}

.avata {
    margin: 10px;
    width: 30%;
    height: 280px;
    background-image: url("./img/avata.jpg");
    background-size: contain;
    border: 2px solid black;
}

.basic-info {
    margin: 10px;
    width: 70%;
    height: 280px;
    /* background-color: red; */
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#bsf i{
    font-size: 25px;
    margin-right: 10px;
}

.bsf h2, h3 {
    font-family: cursive;
}

.menu-massage li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.menu-massage li {
    margin: 0 20px;
}
.menu-massage i{
    margin: 0 20px;
    font-size: 25px;
}

@media only screen and (max-width: 46.718em) {
    body {
        margin: 5px;
        padding: 0;
    }
    #header {
        display: block;
        width: 100%;
        height: 1000px;
    }

    .avata {
        position: inherit;
        /* margin: 20px; */
        padding: 20px;
        width: auto;
        height: 400px;
    }
    .basic-info {
        width: auto;
        height: 400px;
    }
}